<div class="container py-5">

    <div class="row justify-content-center align-items-center">

        <form class="registration-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="needs-validation w-75" novalidate>

            <h1 class="text-center mb-5">Registration</h1>

            <div class="form-group">
                <label for="releaseDate">First Name:</label>
                <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Enter first name" required>
                <div class="invalid-feedback">This input is not valid!</div>
            </div>

            <div class="form-group">
                <label for="surname">Last Name:</label>
                <input type="text" class="form-control" id="surname" name="surname" formControlName="surname" placeholder="Enter last name" required>
                <div class="invalid-feedback">This input is not valid!</div>
            </div>

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" formControlName="username" placeholder="Enter username" required>
                <div class="invalid-feedback">This input is not valid!</div>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="Enter email" required>
                <div class="invalid-feedback">This input is not valid!</div>
            </div>

            <div class="form-group">
                <label for="birthday">Date Of Birth:</label>
                <input required type="date" class="form-control" id="birthday" formControlName="birthday" name="birthday">
                <div class="invalid-feedback">This input is not valid!</div>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Enter password" required minlength="6">
                <div class="invalid-feedback">This input is not valid!</div>
            </div>
            
            <div class="form-group">
                <label for="confirmPassword">Password:</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password" required>
                <div class="invalid-feedback">This input is not valid!</div>
                <div *ngIf="registerForm.errors?.['mismatch']" class="custom-invalid-feedback">
                    Passwords must match!
                </div>
                <div *ngIf="registerForm.errors?.['alreadyExists']" class="custom-invalid-feedback pt-2">
                    User with that username or email already exists!
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>

        </form>
    
    </div>

</div>
