# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
films/
output.mp4
__pycache__
decode.py
*.json
node_modules
cloud-back/authorizer/package/

# Serverless directories
.serverless