<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['']">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['films']">All Films</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['films/create']">Upload Films</a>
      </li>
    </ul>
    <span>
      <ul class="navbar-nav">
        <li *ngIf="axiosService.getRole() == 'Client' && notifications.length != 0" class="nav-item active"> 
          <div class="dropleft mt-1 mr-2">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
              Notifications
            </button>
            <div class="dropdown-menu notificationsMenu">
              <div *ngFor="let notification of notifications; index as i;">
                <div class="dropdown-item my-2">
                  <p class="notificationTime mb-0">{{notification.createdAt}}</p>
                  <p class="mb-0">New <b>{{ notification.items }}</b> movie named <b>{{ notification.name }}</b>!</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li *ngIf='axiosService.getEmail() != ""'  class="nav-item active">
          <a class="nav-link">{{axiosService.getEmail()}}</a>
        </li>
        <li *ngIf='axiosService.getEmail() == ""' class="nav-item">
          <a class="nav-link active" [routerLink]="['auth/login']">Login</a>
        </li>
        <li *ngIf='axiosService.getEmail() == ""' class="nav-item">
          <a class="nav-link active" [routerLink]="['auth/register']">Register</a>
        </li>
        <li *ngIf='axiosService.getEmail() != ""' class="nav-item active">
          <a (click)="logOut()" class="nav-link" [routerLink]="['auth/login']">Log Out</a>
        </li>
      </ul>
    </span>
  </div>
</nav>