
<div class="container mt-3">
    
    <h1 class="text-center my-5">All Films</h1>

    <form class="form-inline my-2 mx-auto row" (ngSubmit)="onSubmit()">
        <div class="col-2 px-1">
            <input class="form-control w-100" id="text" [(ngModel)]="searchQueryFilmName" [ngModelOptions]="{standalone: true}" type="search" placeholder="Search Film" aria-label="Search">
        </div>
        <div class="col-2 px-1">
            <input class="form-control w-100" id="text" [(ngModel)]="searchQueryDirector" [ngModelOptions]="{standalone: true}"  type="search" placeholder="Search Director" aria-label="Search">
        </div>
        <div class="col-2 px-1">
            <input class="form-control w-100" id="text" [(ngModel)]="searchQueryDescription" [ngModelOptions]="{standalone: true}"  type="search" placeholder="Search Description" aria-label="Search">
        </div>
        <div class="col-2 px-1">
            <input class="form-control w-100" id="text" [(ngModel)]="searchQueryActor" [ngModelOptions]="{standalone: true}"  type="search" placeholder="Search Actor" aria-label="Search">
        </div>
        <div class="col-2 px-1">            
            <input class="form-control w-100" id="text" [(ngModel)]="selectedGenre" [ngModelOptions]="{standalone: true}"  type="search" placeholder="Search Genre" aria-label="Search">
        </div>
        <div class="col-2 px-1">
            <button class="btn btn-outline-dark w-100"  type="submit">Search</button>
        </div>
    </form>

    <app-film-view *ngFor="let film of filteredFilms" [film]="film" (download)="download($event)"></app-film-view>

</div>
