
<div class="container mt-3">
    
    <h1 class="text-center my-5">All Films</h1>

    <form class="form-inline my-2 my-lg-0 justify-content-end" (ngSubmit)="ngOnChanges()">
        <input class="form-control mr-sm-2" id="text" [(ngModel)]="searchQueryFilmName" [ngModelOptions]="{standalone: true}" type="search" placeholder="Search Film" aria-label="Search">
        <input class="form-control mr-sm-2" id="text" [(ngModel)]="searchQueryDirector" [ngModelOptions]="{standalone: true}"  type="search" placeholder="Search Director" aria-label="Search">
        <input class="form-control mr-sm-2" id="text" [(ngModel)]="searchQueryDescription" [ngModelOptions]="{standalone: true}"  type="search" placeholder="Search Description" aria-label="Search">
        <input class="form-control mr-sm-2" id="text" [(ngModel)]="searchQueryActor" [ngModelOptions]="{standalone: true}"  type="search" placeholder="Search Actor" aria-label="Search">
        <select id="genreSelect" class="form-control" [(ngModel)]="selectedGenre" name="genre">
            <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
          </select>
        <button class="btn btn-outline-dark my-2 my-sm-0"  type="submit">Search</button>
    </form>

    <app-film-view *ngFor="let film of filteredFilms" [film]="film" (download)="download($event)"></app-film-view>

</div>
