
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Filename:</h5>
            <p class="card-text">{{film.filename}}</p>
            <button (click)="download.emit({filename: film.filename})" class="btn btn-primary mb-2">
                Download
            </button>
            <h3 class="mt-3">File Details</h3>
            <hr>
            <div class="row filedetails">
                <div class="col-sm-4">
                    <h5 class="card-title">File name:</h5>
                    <p class="card-text">{{film.filename}}</p>

                    <h5 class="card-title">Date created:</h5>
                    <p class="card-text">{{ datePipe.transform(film.creationDate, "yyyy-MM-dd") }}</p>
                </div>

                <div class="col-sm-4">
                    <h5 class="card-title">File type:</h5>
                    <p class="card-text">{{film.type}}</p>

                    <h5 class="card-title">Date updated:</h5>
                    <p class="card-text">{{ datePipe.transform(film.lastModifiedDate, "yyyy-MM-dd") }}</p>
                </div>
                <div class="col-sm-4">
                    <h5 class="card-title">File size:</h5>
                    <p class="card-text">{{film.size}} B</p>
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <h5 class="card-title">Rate:</h5>
                    <p class="card-text">9.2</p>
                    <h5 class="card-title">Name:</h5>
                    <p class="card-text">Inception</p>
                    <h5 class="card-title">Director:</h5>
                    <p class="card-text">Christopher Nolan</p>
                </div>
                <div class="col-sm-8">
                    <h5 class="card-title">Genre:</h5>
                    <p class="card-text">Sci-Fi, Action, Thriller</p>
                    <h5 class="card-title">Actors:</h5>
                    <p class="card-text">Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen Page, Tom Hardy</p>
                    <h5 class="card-title">Release Date:</h5>
                    <p class="card-text">July 16, 2010</p>
                </div>
            </div>
            <h5 class="card-title">Description:</h5>
            <p class="card-text">A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O.</p>
            
        </div>
    </div>
</div>